section#contact {
  
  height: 390px;
  background-color: #1E2425;
}
section#contact div.wrap {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  line-height: 1.2;
  align-items: center;
  padding: 80px 0;
  color: #F5CA7B;
}
section#contact div.wrap h2 {
  
}
section#contact div.wrap ul {
  
  font-size: 33px;
}
section#contact div.wrap ul li {
  
}
section#contact div.wrap ul li p {
  
  font-size: 30px;
  line-height: 1.5;
}
section#contact div.wrap ul li p span {
  margin-right: 30px;
  width: 107px;
  display: inline-block;
}
section#contact div.wrap > span {
  
  width: 100%;
  text-align: center;
  font-size: 23px;
}