header {
  background-color: #1E2425;
}
header div.wrap {
  height: 80px;
}
header div.wrap div.subwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header div.wrap div.subwrap h1.h3 {
  
}
header div.wrap div.subwrap h1.h3 a {
  color: wheat;
}
header div.wrap div.subwrap ul.visit {
  display: flex;
}
header div.wrap div.subwrap ul.visit li {
  
}
header div.wrap div.subwrap ul.visit li a {
  color: wheat;
  width: 85px;
  height: 60px;
  display: block;
  font-size: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header div.wrap div.subwrap ul.visit li:nth-child(1) a {
  background-image: url(../img/github.svg);
}
header div.wrap div.subwrap ul.visit li:nth-child(2) a {
  background-image: url(../img/googledrive.svg);
}