header {
  
  position: fixed;
  width: 100%;
  z-index: 1;
}
header div.wrap {
  
  display: flex;
  justify-content: end;
  height: 70px;
  padding: 10px 0 10px 0;
  transition: all 1s;
}
header div.wrap div.subwrap {
  
  justify-content: space-between;
  display: flex;
  width: 1400px;
  text-align: center;
  line-height: 70px;
}
header div.wrap div.subwrap h1 {
  
  font-size: 40px;
  color: white;
}
header div.wrap div.subwrap ul.gnb {
  
  display: flex;
  width: 700px;
  justify-content: space-between;
}
header div.wrap div.subwrap ul.gnb li {
  
}
header div.wrap div.subwrap ul.gnb li a {
  
  padding: 33px 37px;
  font-size: 18px;
  color: white;
}
.sectionmark{
  background-color: rgba(170,170,170,0.3);
}
.down{
  border-bottom: 1px solid white;
  background-color: rgba(5,5,5,0.5);  
}
.top{
  background-color: #1E2425;
}