html {
    scroll-behavior: smooth;
}
body, html{
    width: 100%;
    height: 100%;
    background-image: url(../img/title.jpg);
    z-index: -1;
    position: relative;
}
main{
    height: 100%;
    width: 100%;
}
section#skill{
    
    height: 100%;
}
section#skill div.wrap{
    background-color: #f0f0f0;
    box-sizing: border-box;
    height: 100%;
    color: #181818;
    padding-top: 150px;
}
section#skill div.wrap h2{
    text-align: center;
    margin-bottom: 50px;
}
section#portfolio{
    height: 100%;
    background-color:#808080;
}
section#portfolio div.wrapall{
    
    position: relative;
    height: 100%;
    background-color: gray;
}
section#portfolio div.wrapall h2{
    
    text-align: center;
}
section#portfolio div.wrapall h2 span{
    
    font-size: 25px;
}