section#skill {
  
  background-color: #6F4E37;
}
section#skill div.wrap {
  padding: 50px 0;
}
section#skill div.wrap h2.hide {
  
}
section#skill div.wrap h3 {
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
}
section#skill div.wrap div.contents {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-wrap: wrap;
  background-color: #F5DEB3;
  padding: 30px;
  border-radius: 20px;
}
section#skill div.wrap div.contents h4 {
  margin-bottom: 20px;
}
section#skill div.wrap div.contents ul {
  display: flex;
  gap: 20px;
}
section#skill div.wrap div.contents ul li {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#skill div.wrap div.contents ul li::before{
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
section#skill div.wrap div.contents ul.development {
  
}
section#skill div.wrap div.contents ul.development li {
  
}
section#skill div.wrap div.contents ul.development li:nth-child(1)::before{
  background-image: url(../img/html5.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(2)::before{
  background-image: url(../img/css3.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(3)::before{
  background-image: url(../img/sass.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(4)::before{
  background-image: url(../img/javascript.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(5)::before{
  background-image: url(../img/jquery.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(6)::before{
  background-image: url(../img/bootstrap.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(7)::before{
  background-image: url(../img/html5.svg);
}
section#skill div.wrap div.contents ul.development li:nth-child(8)::before,section#skill div.wrap div.contents ul.development li:nth-child(9)::before,section#skill div.wrap div.contents ul.development li:nth-child(10)::before,section#skill div.wrap div.contents ul.development li:nth-child(11)::before{
  background-image: url(../img/coffee.png);
}
section#skill div.wrap div.contents div.productivity {
}
section#skill div.wrap div.contents ul.productivity {
}
section#skill div.wrap div.contents ul.productivity li {
  
}
section#skill div.wrap div.contents ul.productivity li:nth-child(1)::before {
  background-image: url(../img/github.svg);
}
section#skill div.wrap div.contents ul.productivity li:nth-child(2)::before {
  background-image: url(../img/mso.svg);
}
section#skill div.wrap div.contents div.design {
}
section#skill div.wrap div.contents ul.design {
}
section#skill div.wrap div.contents ul.design li:nth-child(1)::before {
  background-image: url(../img/photoshop.svg);
}
section#skill div.wrap div.contents ul.design li:nth-child(2)::before {
  background-image: url(../img/illustrator.svg);
}
section#skill div.wrap div.contents ul.design li:nth-child(3)::before {
  background-image: url(../img/coffee.png);
}
